
<h1 class="subtitle">Login Page</h1>
<div class="form">

	<%= form_for :user do |f| %>
		<%= f.text_field :email, placeholder: "enter email", class: "form-control" %><br>
		<%= f.password_field :password, placeholder: "and password", class: "form-control" %>
		<%= f.submit "Logzin", class: "btn form-control btn-success"%>

	<% end %>
</div>