<h1 class="subtitle">Login Page</h1>
<div class="form">

	<%= form_tag passwords_path do %>
		<%= text_field_tag :email, nil, placeholder: "Enter email", class: "form-control" %><br>
		<%= submit_tag "Reset Password", class: "form-control" %><br>
	<% end %>

</div>