/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require "bootstrap-3.2.0.min"
 *= require "bootswatch.min"
 *= require_tree .
 *= require_self
 */

body {
  background-image: url("fresh_snow.png");
  height: 100%;
}

.title {
  font-size: 70px;
  margin-bottom: 20px;
  letter-spacing: -2px;
  text-align: center;
  position: relative;
  top: 30px;
}

.body {
  position: relative;
  left: 40px;
}
.navbar-custom {
  background-color: rgba(0, 0, 0, .6);
  border-bottom: 1px solid black;
}
.homelink {
  font-size: 18px;
  letter-spacing: 3px;
  color: #f1f1f1;
  text-shadow: 1px 1px 1px black;
}

.links {
  font-size: 15px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.links:hover, .homelink:hover {
  color: black;
}
.about {
  position: relative;
  left: -100px;
}

.bg {
  height: 200px;
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid grey;
  margin-bottom: 30px;
}

a {
  color: brown;
  text-decoration: none;
}

a:hover {
  color: #CD4F39;
  text-decoration: none;
}

.footer {
  height: 70px;
}