/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require "bootstrap-3.2.0.min"
 *= require "bootswatch.min"
 *= require_tree .
 *= require_self
 */
@media (max-width: 768px){
  .crop {
    overflow: hidden;
    height: 200px;
  }
}

@media (min-width: 768px){
  .crop {
    overflow: hidden;
    height: 150px;
  }
}

.cust-con {
  padding-top: 50px;
}

.btn {
  margin-top: 10px;
}
.btn-cust {
  width: 100%; 
}

.comments {
 padding-top: 25px;
}
.comment-con {
  margin-top: 10px;
  margin-bottom: 10px;
  /*background-color:#7f8c8d;*/
  padding-top: 25px;
  padding-bottom: 25px;
}
.comment-content {
  /*background-color: #ecf0f1;*/
  margin-top: 10px;
  margin-bottom: 10px;
}

.error {
  background-color: red;
  color: white;
  padding: 25px;
}

body {
  background-image: url("fresh_snow.png");
  height: 100%;
}
.profilepic {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}
.postbox {
  width: 500px;
}
.postbody {
  position: relative;
  top: -380px;
}
.tagnameforposts {
  position: relative;
  left: 80px;
}
.postusertags {
  float: right;
  position: relative;
  left: 280px;
  top: -490px;
}
.subtitle {
  margin-bottom: 50px;
  letter-spacing: -2px;
}
.usertags {
  float: right;
  margin-left: 40px;
  padding-right: 30px;
  position: relative;
  top: -410px;
}
.btn-default {
  margin-bottom: 40px;
}
.userimage {
  width: 200px;
  height: 200px;
  border: 2px solid grey;
  margin: 15px;
  margin-bottom: 50px;
}
.userposts {
  float: right;
  width: 500px;
  position: relative;
  top: -400px;
}
.userposttime {
  float: right;
  font-size: 15px;
  letter-spacing: -1px;
}
.displayhomepage {
  margin-top: 60px;
  border: 1px solid grey;
  padding: 20px;
  width: 800px;
  margin: 0 auto;
}
.moreinfo {
  float: right;
  position: relative;
  top: -20px;
}
.recentposts {
  position: relative;
  left: 400px;
  top: -120px;
}
.form {
  width: 400px;
  margin: 0 auto;
}
.title {
  font-size: 70px;
  margin-bottom: 20px;
  letter-spacing: -4px;
  text-align: center;
  font-weight: bolder;
  position: relative;
  top: 30px;
  text-shadow: 1px 1px 3px white;
}
.deletepage {
  float: left;
  margin-right: 5px;
}
.body {
  position: relative;
  left: 40px;
}
.navbar-custom {
  background-color: rgba(0, 0, 0, .6);
  border-bottom: 1px solid black;
}
.homelink {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bolder;
  color: #f1f1f1;
  text-shadow: 1px 1px 1px black;
}

.links {
  font-size: 15px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.links:hover, .homelink:hover {
  color: black;
}
.about {
  position: relative;
  left: -100px;
}

.bg {
  height: 200px;
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid grey;
  margin-bottom: 30px;
}

a {
  color: brown;
  text-decoration: none;
}
.btn-warning {
  width: 150px;
  color: white;
  padding: 5px;
}
.tagtitle {
  position: relative;
  left: 90px;
  margin-bottom: 30px;
}
li {
  list-style-type: none;
}
a:hover {
  color: #CD4F39;
  text-decoration: none;
}

.taglinks {
  color: white;
  letter-spacing: 2px;
  padding: 5px;
}

.footer {
  height: 70px;
}
