<!DOCTYPE html>
<html>
<head>
  <title>MicroBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="test">
    <div class="container">
    <h1 class="title">Micro Blog</h1>
      <div class="body">
      <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
